.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-row-gap: 7rem;
  grid-column-gap: 7rem;
  color: var(--text-and-background-color);
  padding-left: 25%;
  padding-right: 5%;
}

.imgDimension {
  height: 60%;
}

.redColor {
  color: red;
}

.whiteColor {
  color: var(--secondary-color);
}

.cardContainer {
  width: auto;
  height: auto;
  box-shadow: var(--default-box-shadow);
  position: relative;
}

.cardContainer:hover {
  box-shadow: var(--hover-box-shadow);
}

.rating {
  background-color: var(--primary-color-light);
  color: var(--secondary-color);
  background-color: var(--rating-color);
  padding: 2px 4px;
  border-radius: 1rem;
  font-weight: 600;
}

.fontPrice {
  font-weight: 900;
  font-size: larger;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.off {
  color: var(--primary-color);
}
