.product-grid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-row-gap: 7rem;
    grid-column-gap: 7rem;
    color: var(--text-and-background-color);
    padding-left: 30%;
}

.img-dimension{
    height: 60%;
}

.rating{
    background-color: var(--primary-color-light);
    color: var(--secondary-color);
    padding: 2px 4px;
    border-radius: 1rem;
    font-weight: 600;
}

.font-price{
    font-weight: 900;
    font-size:larger;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.off{
    color: var(--primary-color);
}