.cardContainer {
  height: 40rem;
  width: 15rem;
}

.imgDimension {
  width: 15rem;
}

.card:hover {
  text-decoration: none;
}

.redColor {
  color: red;
}

.whiteColor {
  color: var(--secondary-color);
}

.cardContainer:hover {
  box-shadow: var(--hover-box-shadow);
}

.rating {
  background-color: var(--primary-color-light);
  color: var(--secondary-color);
  background-color: var(--rating-color);
  padding: 2px 4px;
  border-radius: 1rem;
  font-weight: 600;
}

.fontPrice {
  font-weight: 900;
  font-size: larger;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.off {
  color: var(--primary-color);
}
