.icon-size-large{
    height: 2.5rem;
    width: 2.5rem;
}

.icon-size-small{
    height: 1rem;
    width: 1rem;
}

.button-outlined{
    font-weight: 1000;
}

.logo{
    cursor: pointer;
}

.navigation-container{
    background-color: var(--text-and-background-color);
    width: 100%;
    position: fixed;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.helloUser{
    display: flex;
    flex-direction: column;
}