.iconSizeLarge {
  height: 2.5rem;
  width: 2.5rem;
}

img {
  position: relative;
}

.iconSizeSmall {
  height: 1.8rem;
  width: 1.8rem;
}

.button-outlined {
  font-weight: 1000;
}

.icon-button__badge {
  background: var(--primary-color);
}

.logo {
  cursor: pointer;
  font-family: var(--stylish-font);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation-container {
  background-color: var(--text-and-background-color);
  width: 100%;
  position: fixed;
  z-index: 2;
}
