@import "https://parts-builder.netlify.app/styles/main-style.css";

:root{
    --primary-color: #1877f2;
    --text-and-background-color: #121212;
    --secondary-color: #F3F4F6;
}

.navigation-container{
    background-color: var(--text-and-background-color);
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.helloUser{
    display: flex;
    flex-direction: column;
}