.priceDetails {
  display: flex;
  justify-content: space-around;
  width: 25%;
  height: 60%;
  box-shadow: var(--default-box-shadow);
  top: 7rem;
  margin-left: 60%;
  position: fixed;
  border-radius: 2rem;
  font-weight: 600;
}

.green {
  color: var(--rating-color);
}

.address {
  margin-top: 1rem;
  color: black;
}
