.filters {
  display: flex;
  flex-direction: column;
  color: var(--text-and-background-color);
  position: sticky;
  top: 0;
  padding: 0 5rem 0 2rem;
  border-radius: 0.5rem;
  min-width: fit-content;
  font-weight: 600;
}

.filterPrice {
  margin: 0;
}

ul {
  padding-inline-start: 0;
}

.button-contained {
  margin-top: 10%;
  border: none;
}

input[type="range"] {
  width: 70%;
}

.see-more {
  color: var(--primary-color);
}

.see-more:hover {
  cursor: pointer;
}
