.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.4rem;
  min-height: 20rem;
  row-gap: 3rem;
}

.title {
  display: flex;
}

.active {
  background-color: var(--primary-color);
  box-shadow: var(--default-box-shadow);
  padding: 2rem 3rem;
  border: none;
  border-radius: 0.4rem;
  color: white;
  font-size: larger;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.dormant {
  background-color: var(--secondary-color);
  box-shadow: var(--default-box-shadow);
  padding: 2rem 3rem;
  border: none;
  border-radius: 0.4rem;
  color: black;
  font-size: larger;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
