.ecom-placing-input-container {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 25%;
  letter-spacing: 0.3rem;
  background: transparent;
}

.ecom-center-inside-flex {
  align-self: center;
}

.center {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.dummySignup {
  margin-top: -2rem;
}
