.loginPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: var(--nav-color);
  display: flex;
  flex-direction: column;
  min-width: 25%;
  padding: 2rem 2rem 5rem 2rem;
  row-gap: 3rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
}

.title {
  align-self: center;
  font-size: 1.4rem;
}

.form input {
  border-radius: 0.5rem;
  height: 2rem;
  display: block;
  width: 100%;
}

.form button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem;
  font-size: 1rem;
}

.loginBtn {
  background-color: var(--primary-color);
  color: white;
}

.loginBtn:hover {
  background-color: var(--primary-color-light);
}

.guestLoginBtn {
  color: black;
  background-color: rgba(112, 112, 112, 0.5);
  margin-top: -1rem;
}

.guestLoginBtn:hover {
  background-color: rgba(112, 112, 112, 0.3);
}

.signupLine {
  font-size: 1.1rem;
  align-self: center;
}

.signup {
  color: var(--primary-color);
  text-decoration: none;
}

.signup:hover {
  color: var(--button-light-color);
}
